<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="I'm a generally curious person interested in a variety of things, and tend to build things or analyze those curiousities with code. ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">
    <title>Glenn Pascal Mouhingou</title>
  </head>
  <body class="home">

    <header>
      <a href="{{ site.BaseURL | relLangURL }}">
        <img src="./image/logo.png" alt="Acme Logo" 
             height="36" width="48" />
        Glenn Pascal Mouhingou
      </a>
      {{with site.Menus.main }}
        <nav>
          <button class="hamburger">&#9776;</button>
          <ul>
            {{range .}}
              <li>
                <a href="{{.URL}}">{{.Name | humanize}}</a>
              </li>
            {{end}}
          </ul>
        </nav>
      {{end}}
    </header>

    <section>
      <img src="./image/logo.png" alt="Acme Logo" width="627" height="502" />
      <h1>Glenn Pascal Mouhingou</h1>
      <h2>I'm a generally curious person interested in a variety of things, 
        and tend to build things or analyze those curiousities with code. </h2>
      <a href="./about">Find out more about me</a>
    </section>


    
   
    <section id="description">
      {{.Content}}
    </section>



    <footer class="dark">
      {{with site.Menus.footer }}
      <nav>
        <ul>
        {{range .}}
        <li>
          <a href="{{.URL}}">{{.Name | humanize}}</a>
        </li>
        {{end}}
        </ul>
      </nav>
      {{end}}
      <ul>
        {{with site.Author.linkedin}}
          <li>
            <a href="{{.}}" aria-label="LinkedIn">
              <i class="  icon-linkedin"></i>
            </a>
          </li>
        {{end}}

        {{with site.Author.github}}
          <li>
            <a href="{{.}}" aria-label="GitHub">
              <i class="icon-github"></i>
            </a>
          </li>
        {{end}}
        
        {{with site.Author.twitter}}
          <li>
            <a href="{{.}}" aria-label="Twitter">
              <i class="icon-twitter"></i>
            </a>
          </li>
        {{end}}

        

        {{with site.Author.email}}
          <li>
            <a href="mailto:{{.}}" aria-label="email">
              <i class="icon-email"></i>
            </a>
          </li>
        {{end}}

      </ul>
      <div>{{.Param "copyright" | markdownify}}</div>
  </footer>
  </body>
</html>
